<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for camera -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/fora_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fora_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FORAApp">
        <activity
            android:name=".qrGen"
            android:exported="false" />
        <activity
            android:name=".admin_popup"
            android:exported="false" />
        <activity
            android:name=".qr_reader_activity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false"
            android:noHistory="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>